.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal,
.modal__bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__bg {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
}

.modal__body {
    width: 350px;
    background-color: #000000;
    z-index: 5;
}

.modal__title {
    font-size: 24px;
    margin-bottom: 20px;
}

