.user-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    cursor: pointer;
}

.user-list__item .icon-add {
    width: 60px;
    height: 60px;
    fill: #ffffff;
    margin: 20px auto;
}

.user-list__item:hover {
    border-color: lightgreen;
}

.user-list__item:hover .icon-add {
    fill: lightgreen;
}

.user-list__avatar {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.user-list__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100px;
}

.user-list__type {
    position: absolute;
    top: 0;
    margin-bottom: auto;
}

.user-list__name {
    margin-bottom: 7px;
}

.user-list__id span {
    font-weight: 900;
    color: #ffffff;
    margin-left: 5px;
}

